.Footer{
    
    width: 100%;
    padding: 100px;
}
.buttonFooter{
    padding: 20px 50px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    background-color:#321B38;
}
.footerIcons{
    font-size: clamp(24px, 10vw, 80px);
    color: white;
    margin-top: 50px;
    gap:10px;
}