.clip-path{
    clip-path: polygon(0% 20%, 70% 22%, 70% 0, 100% 50%, 70% 100%, 70% 79%, 0% 80%);
    width: 100%;
    height: 46px;
    background-color: #A83FC6;
    
}

.left{
    margin-top: 20px;
    transform: rotate(180deg);
}
