.backgroundColor{
  background-image: url('../src/assets/body-img.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}

@media screen and (min-width:450px ){
  
  .customWidth{
    max-width: 1920px;
    min-height: 100vh;
   
  }
}