*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}

html {
  scroll-behavior: smooth;
}
h1{
  color: white;
   font-size: clamp(24px, 10vw, 165px);
  font-style: normal;
  font-weight: 900;
  line-height: 190px;
  
}
h2{
  font-size: 38px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

a{
  text-decoration: none;
  color: white;
}

@media screen and (max-width:450px ){
  
  body{
    overflow-x: hidden;
  }
  
  h2{
    font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
  }
}